@mixin main-size($size) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    left: 0.1*$size;
    right: 0.1*$size;
    max-width: 0.8*$size;
}

@mixin background($url) {
    background-image: $url;
    background-repeat: no-repeat;
    background-position-x: center;
    background-clip: border-box;
    background-blend-mode: multiply;
}

body {
    height: 100vh;
    min-height: 500px;
    background: black;
}

.app {
    @include background( url("https://picsum.photos/1440/900"));
    background-attachment: fixed;
    overflow: auto;
    display: block;
    height: inherit;
}

.header {
    @include main-size(100%);
    padding-top: 32px;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}
 
.logo {
    display: inline;
    font-family: Verdana;
    color: #ffffff;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-img {
        content: url(/img/logo.png);
        }
    &-icon {
        position: relative;
        top: 4px;
        left: 12px;
    }
    &-top {
        font-family: Verdana;
        color: #ffffff;
        font-size: 29px;
        font-weight: 700;
        line-height: 21px;
        text-align: left;
        position: relative;
        left: -1px;
    }
    &-bottom {
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
    }
}

.section {
    @include main-size(100%);
    height: 95%;
    padding: 2.5% 0 2.5% 0;
}

.categories {
    height: 60%;
    flex-wrap: wrap;
    padding: 10% 0 10% 0;
}

.category {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    min-height: 200px;
    height: 30%;
    max-height: 400px;
    margin-bottom: 32px;
    background: yellow;
    @include background(url("https://picsum.photos/400/300"));
    display: block;

    
    border: 4px solid transparent;
    border-image: linear-gradient(to right top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
    border-image-slice: 50;
    border-radius: 2px;


    &:hover {
        background-blend-mode: normal;
    }
    
    &-name {
        position: relative;
        bottom: -103%;
        display: flex;
        justify-content: center;
        background: rgba(128, 128, 128, 0.23921568627450981);
        text-transform: lowercase;
        text-transform: capitalize;
        color: white;
        
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
        letter-spacing: 2px;
        text-shadow: black 1px 2px 2px;
    }
    &-card {
        height: 100%;
        &:hover{
            .info {
                display: flex;
            }
        }
    }
    .info {
        display: none;
        position: relative;
        bottom: -60%;
        content: "Read this -";
        color: white;
        background: #f26522;
        height: 51px;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
        padding: 12px 8px 0px 8px;

        &--top{}
        &--bottom{
            display: flex;
            justify-content: space-between;
            color: #FAFAFA;
            font-size: 16px;
            .price{}
            .details{
                display: inline-flex;
                justify-content: flex-end;
                align-items: flex-end;
                &::after {
                    top: 1px;
                    position: relative;
                    padding-left: 8px; 
                    content: '>';
                }
            }
        }
    }


}

.footer {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: white;
    display: block;
    height: 56px;
    width: auto;
    position: relative;
    z-index: 100;
    bottom: -18%;
    display: flex;
    justify-content: center;
    text-shadow: black 1px 1px 1px;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;

}