body {
  height: 100vh;
  min-height: 500px;
  background: black;
}

.app {
  background-image: url("https://picsum.photos/1440/900");
  background-repeat: no-repeat;
  background-position-x: center;
  background-clip: border-box;
  background-blend-mode: multiply;
  background-attachment: fixed;
  overflow: auto;
  display: block;
  height: inherit;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  left: 10%;
  right: 10%;
  max-width: 80%;
  padding-top: 32px;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

.logo {
  display: inline;
  font-family: Verdana;
  color: #ffffff;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-img {
  content: url(/img/logo.png);
}

.logo-icon {
  position: relative;
  top: 4px;
  left: 12px;
}

.logo-top {
  font-family: Verdana;
  color: #ffffff;
  font-size: 29px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  position: relative;
  left: -1px;
}

.logo-bottom {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  left: 10%;
  right: 10%;
  max-width: 80%;
  height: 95%;
  padding: 2.5% 0 2.5% 0;
}

.categories {
  height: 60%;
  flex-wrap: wrap;
  padding: 10% 0 10% 0;
}

.category {
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  min-height: 200px;
  height: 30%;
  max-height: 400px;
  margin-bottom: 32px;
  background: yellow;
  background-image: url("https://picsum.photos/400/300");
  background-repeat: no-repeat;
  background-position-x: center;
  background-clip: border-box;
  background-blend-mode: multiply;
  display: block;
  border: 4px solid transparent;
  border-image: linear-gradient(to right top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
  border-image-slice: 50;
  border-radius: 2px;
}

.category:hover {
  background-blend-mode: normal;
}

.category-name {
  position: relative;
  bottom: -103%;
  display: flex;
  justify-content: center;
  background: rgba(128, 128, 128, 0.239216);
  text-transform: lowercase;
  text-transform: capitalize;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  text-shadow: black 1px 2px 2px;
}

.category-card {
  height: 100%;
}

.category-card:hover .info {
  display: flex;
}

.category .info {
  display: none;
  position: relative;
  bottom: -60%;
  content: "Read this -";
  color: white;
  background: #f26522;
  height: 51px;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  padding: 12px 8px 0px 8px;
}

.category .info--bottom {
  display: flex;
  justify-content: space-between;
  color: #FAFAFA;
  font-size: 16px;
}

.category .info--bottom .details {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.category .info--bottom .details::after {
  top: 1px;
  position: relative;
  padding-left: 8px;
  content: '>';
}

.footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: white;
  display: block;
  height: 56px;
  width: auto;
  position: relative;
  z-index: 100;
  bottom: -18%;
  display: flex;
  justify-content: center;
  text-shadow: black 1px 1px 1px;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
}
/*# sourceMappingURL=main.css.map */